<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta name="format-detection" content="telephone=no" />
		<title>title</title>
		<meta  name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
		<!-- build:css({.tmp,app}) styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/reset-css/reset.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
	</head>
	<body>
		<div class="container">
			<div id="slip-wrap">
				<section class="slip-item"><b id="slip-arrow"></b></section>
				<section class="slip-item"></section>
				<section class="slip-item"></section>
				<section class="slip-item"></section>
				<section class="slip-item"></section>
			</div>
		</div>
    <!-- build:js({.tmp,app}) scripts/main.js -->
    <script type="text/javascript" src="bower_components/slip.binnng.js/slip.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
	</body>
</html>